*{
   box-sizing: border-box;
}
header{
    background-image: url("kepek/—Pngtree—3d\ colorful\ neon\ rendering\ scene_1235832.jpg");
    background-size: cover;
    height: 250px;
}
main{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    background-color: gray;
}
body{
    background-image: url("kepek/107763.jpg");
    
}
nav{
    background-color: rgb(216, 15, 15);
}
nav ul{
    list-style-type: none;
}
nav ul li{
    padding: 5px;
}
nav a{
    text-decoration: none;
    margin: auto;
    padding: 4px;
    color: black;
    
}
footer{
    background-color: gray;
    text-align: center;
}