*{
   box-sizing: border-box;
}
header{
    background-color: black;
    color: rgb(248, 232, 9);
    height: 100px;
    text-align: center;
    font-size: 30px;
    font-family: 'Star Wars';
    letter-spacing: 2px;
    padding: 20px;
    margin-bottom: 25px;
                                                
}
h1{
    margin: 0;
}
h2{
    margin: 0;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px;
}
/*@import url(https://allfont.net/allfont.css?fonts=star-jedi); */
main{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
}
body{
    background-image: url("hatterek/Star_Wars_Logo.svg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
    
}
nav{
    background-color: rgb(0, 0, 0);
    margin-top: 0;
    display: flex;
    justify-content: center;
    
}
nav ul{
    list-style-type: none;
    
      
}
nav ul li{
    padding:5px;
    display:inline-flex;
    margin :0px 40px 0px 40px;
}
nav a{
    text-decoration: none;
    margin: auto;
    padding: 4px;
    color: rgb(0, 0, 0);
    background-color: rgb(248, 232, 9);
    font-size: large;
    
}
nav a:hover{
    background-color: red;
}
footer{
    background-color:  rgb(248, 232, 9);
    text-align: center;
    margin: 5px;
}
img{
    width: 300px;
    height: 300px;
    margin: 4px;
    
}
img:hover{
    width: 500px;
    height: 500px;
}
label{
    
    background-color: rgb(248, 232, 9);
    
    
}
section{
    display: flex;
    justify-content:space-evenly;
}

.kuldes{
   margin-left: 12%;
}
