*{
   box-sizing: border-box;
}
main{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    background-color: gray;
}
body{
    background-image: url();
}
nav{
    background-color: rgb(216, 15, 15);
}
nav ul li{
    padding: 5px;
}
nav a{
    text-decoration: none;
    margin: auto;
    padding: 4px;
}
footer{
    background-color: gray;
    text-align: center;
}